.wrapper {
  &:global.MuiTabs-root {
    & .MuiTabs-flexContainer {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.tab {
  &:global.MuiTab-root {
    max-width: 100%;
  }
}
