.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-title {
  &:global.MuiTypography-root {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

.list-item {
  &:global.MuiTypography-root {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}
