.wrapper {
  &:global.MuiDrawer-root {
    & > .MuiPaper-root {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

.close-icon {
  &:global.MuiIconButton-root {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
}

.top-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.title {
  &:global.MuiTypography-root {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    width: 100%;
    text-align: center;
  }
}

.text {
  &:global.MuiTypography-root {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    width: 100%;
  }
}

.subscribe-button {
  &:global.MuiButton-root {
    padding: 12px 24px;
    width: max-content;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
  }
}

.reward-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.reward-text {
  &:global.MuiTypography-root {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
  }
}

.check-button {
  &:global.MuiButton-root {
    padding: 20px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    border-radius: 24px;
  }
}
